.fondovm{
  background-image: linear-gradient(to right, #d6d7dc,white,white,white,#d6d7dc);
}

.contentspace{
   min-height: 90%;
   padding: 30px 0 50px 0;
}
.formrow{
  place-content: center;
}

.footerclassp{
   position: sticky; width: 100%;  bottom: 0;
}
