<div class="submit-form container" >
    <div *ngIf="!submitted">
      <h3 class="text-center mt-4 mb-4"> Listado de Miembros del Gimnasio</h3>
  
      <div class="col-2">
        <a class="btn btn-warning" (click)="openDialog()" >Nuevo Miembro</a>
      </div>
  </div>
      <div class="col-md-12 p-2">
        <table class="table">
  
        <thead >
              <tr class="table-dark">
                              <th>ID</th>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Edad</th>
                              <th>Sexo</th>
                              <th>N° de documento</th>
                              <th>Razon Social</th>
                              <th>Correo Electronico</th>
                              <th>Celular</th>
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listmiembro">
                <td>{{item.miembroId}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.sexo}}</td>
                <td>{{item.nrodoc}}</td>
                <td>{{item.razonsocial}}</td>
                <td>{{item.correoelectronico}}</td>
                <td>{{item.celular}}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="openDialog(item)" ata-bs-toggle="modal" data-bs>Editar
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" (click)="delete(item)"  >Eliminar</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
  
  