<div class="fondovm">
  <div class="container contentspace">
    <h3 class="text-center pb-4"> Consultar Planes de Membresía</h3>
    <div class="col-lg-8">
      <form (submit)="consultarPlanes()">
        <div class="row align-items-start">
          <div class="col-3"></div>

          <div class="row align-items-center">
            <div class="col">
              <label class="label-control" for="I">Nombre del Plan:</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ingrese Nombre del Plan" name="nombreplan"
                id="nombreplan" [(ngModel)]="nombreplan" width="100px" />
            </div>
            <div class="col">
              <button type="submit" class="btn btn-warning"><i class="fa fa-search" aria-hidden="true"></i>
                Buscar</button>
            </div>
          </div>

        </div>
      </form>

      <table class="table mt-4 ">
        <thead>
          <tr class="table-dark">
            <th>ID</th>
            <th>Nombre de Plan</th>
            <th>Duración</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planescons of planesConsulta">
            <td>{{ planescons.planesId }}</td>
            <td>{{ planescons.nombreplan }}</td>
            <td>{{ planescons.tiempo }} días</td>
            <td>S/. {{ planescons.precio }}</td>
            <td class="pl-2"><img src="{{planescons.url_img}}" alt="Foto del servicio" width="44" height="34"></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <footer>
    <div class="footerclassp bg-dark p-4 mt-5">
      <footer class="container text-light ">
        &copy;2024 Proyecto Integrador - Grupo05 - Derechos reservados
      </footer>
    </div>
  </footer>
</div>
