
<div class="back-fondo">
    <div class="fondo">
		<div class="container">
			<h2 class="mt-2 tbienvenido">BIENVENIDO</h2>

			<div class="textlorem">
				<h3 class="letter">OBTENER UNA <br> MEMBRESÍA</h3>
				<div class="parrafo">
					<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
						ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
						del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
						de tal manera que logró hacer un libro de textos especimen.</p>
					<a href="#" type="button" routerLink="/venta-membresia" class="btn btn-outline-warning">Registrar Ahora</a>
				</div>
			</div>
		</div>
    </div>
    <footer>
      <div class="footerclassp bg-dark p-4 mt-5">
        <footer class="container text-light ">
          &copy;2024 Proyecto Integrador - Grupo05 - Derechos reservados
        </footer>
      </div>
    </footer>
</div>
<!--<app-chatbot></app-chatbot>-->
