.classnavbar1{
    height: 65px; background-color: #1b1c1e;     margin-top: -5px;
}
.classnavbar1 nav{
    background-color: #1b1c1e;
}

.classnavbar1 nav img{
    background-image: none; height: 86px;
}